<!DOCTYPE html>
<html>
<head>
    <title>Система оценки работ</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Оценка работ</h1>
    <!-- <h2>ссылка 1</h2><br> -->
    <!-- <form action="/nothing" method="get"> -->

    <a itemid="0" href="/grade/file1">ссылка 1</a>
      <!-- </form> -->
    <div></div>
    <a itemid="1" href="/grade/file2">ссылка 2</a>
    <div></div>
    <a itemid="2" href="/grade/file3">ссылка 3</a></br>
    <div>
      <a href="/userauth">Вернуться главную страницу</a>
    </div>
</body>
<html>
