<!DOCTYPE html>
<html>
<head>
    <title>Отправлено</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Комментарий и оценка отправлены!</h1>
    <a href="/grade">Вернуться на страницу ссылок</a>
</body>
<html>