<!DOCTYPE html>
<html>
<head>
    <title>Система оценки работ</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Файл успешно загружен!</h1>
    <a href="/userauth">Вернуться на главную страницу</a>
</body>
<html>